@page
@model IndexModel
@{
    ViewData["Title"] = "FinIndie - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FinIndie!</h1>
    <p>A free tool for those striving towards financial indepence</p>
    <h2 class="container">
        <a asp-area="" asp-page="/TestCalc">Financial Freedom Calculator</a>
        <br><br><a href="https://jackkeenan.dev/">Creator</a>
    </h2>
</div>
