@page
@model CalcModel
@{
    ViewData["Title"] = "Financial Planning Calculator";
}
<h1>@ViewData["Title"]</h1>

<p>Primary Input: Income, Employer Match, Dividends/Annuities
   Inputs: Rent, Bills, Food, Other Expenses
   Outputs: Savings/month, Mortgage/month you could afford

</p>
